<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="/blocks/header :: header"></header>
<h1>Тестирование</h1>
<h2 th:text="${question.getText()}"></h2>
<form method="post" th:action="@{/test/__${question.getText()}__}" th:object="${answer}">
    <th:block th:each="answers: ${question.getAnswers()}">
    <input type="submit" onclick="" th:value="${answers.getId().getAnswerText()}" th:text="${answers.getId().getAnswerText()}" th:name="answer">
    </th:block>
</form>
<footer th:insert="/blocks/footer :: footer"></footer>
</body>
</html>